.navbar-container {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Adjust as needed */
  }

  .banner-background {
    background-color: rgb(224, 179, 16);
  }

.banner-background {
  background: linear-gradient(rgb(224, 179, 16), rgba(224, 179, 16,0.8));
}

.nav-btn {
  background-color: black;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "'Roboto Slab', serif";
  color: white;
  border: none;
}

.scrolled-navbar {
  background-color: #ffffff; 
  
}

.scrolled-button {
  background-color: rgb(44, 148, 44);
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "'Roboto Slab', serif";
  color: white;
  border: none;
}